{% extends 'base.html' %}
{% load group_tags %}
{% load i18n %}

{% block content %}
<h1 class="mb-4">{% trans "Тестирование" %}</h1>

<!-- Кнопки только для учителей -->
{% if user.is_authenticated and user|has_group:"Учителя" %}
  <div class="mb-3">
      <a href="{% url 'create_test' %}" class="btn btn-success">+ {% trans "Создать тест" %}</a>
      <a href="{% url 'manage_tests' %}" class="btn btn-success">{% trans "Мои тесты" %}</a>
  </div>
{% endif %}

<div class="row g-3">
  {% for t in tests %}
  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">{{ t.title }}</h5>
        <p class="card-text small text-muted">{{ t.description|default:"" }}</p>
        <p class="mb-2"><span class="badge bg-success">Вопросов: {{ t.q_count }}</span></p>
        <a href="{% url 'take_test' t.id %}" class="btn btn-success w-100">Пройти</a>
      </div>
    </div>
  </div>
  {% empty %}
  <p>Тесты пока не созданы.</p>
  {% endfor %}
</div>
{% endblock %}
