{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-10">   <!-- ширина формы -->
      <h3>{% if form.instance.pk %} Редактировать тему {% else %} Добавить тему {% endif %}</h3>

      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'section_detail' section.id %}" class="btn btn-secondary">Отмена</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_scripts %}
  {{ form.media }}
{% endblock %}
