{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Biology Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>

<div class="container-content mx-auto">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" style="background-color: #A8E6A1;">
        <div class="container-fluid">

            <!-- Логотип -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'img/logo.png' %}" alt="Bioedu" height="100">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Левая часть -->
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'section_list' %}">Теория</a></li>

                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'test_list' %}">Практика</a></li>
                    {% endif %}

                    {% if user.is_authenticated and user|has_group:"Учителя" %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'create_test' %}">Создать тест</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'manage_tests' %}">Мои тесты</a></li>
                    {% endif %}

                    <li class="nav-item"><a class="nav-link" href="{% url 'statistics' %}">Статистика</a></li>
                </ul>

                <!-- Правая часть -->
                <ul class="navbar-nav ms-auto align-items-center">
                    {% if user.is_authenticated %}
                        <li class="nav-item me-2">
                            <a href="{% url 'logout' %}" class="btn btn-success d-flex align-items-center">
                                <i class="bi bi-box-arrow-right me-2"></i> Выйти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'profile' %}" class="btn btn-outline-success">Личный кабинет</a>
                        </li>
                    {% else %}
                        <li class="nav-item me-2">
                            <a href="{% url 'login' %}" class="btn btn-success d-flex align-items-center">
                                <i class="bi bi-person-fill me-2"></i> Войти
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item ms-3">
                      <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()" class="form-select form-select-sm">
                          <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>RU</option>
                          <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>EN</option>
                          <option value="kk" {% if LANGUAGE_CODE == 'kk' %}selected{% endif %}>KK</option>
                        </select>
                      </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Контент -->
    <div class="p-4">
        {% block content %}{% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
